* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#taskSection {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 20px;

}
#taskInput {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    background: none;
}

#container {
    background: url(../images/paperBack.png);
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    min-height: 400px;
    position: relative;
}
#list {
    border-top: 2px solid black;
}
li {
    list-style: none;
}
.filter {
    width: 250px;
    margin: 0 auto;
    vertical-align: bottom;
    display: block;
}
.filter li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

#list p {
    display: inline-block;
}

.done {
    text-decoration: line-through;
    color: dimgrey;
}

.hiden {
    display: none;
}