* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

body {
    background: url(../images/paperBack.png);
}

.page {

}

#taskSection {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 20px;

}
#taskInput {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    background: none;
}

#container {
    /*background: url(../images/paperBack.png);*/
    width: 600px;
    margin: 0px auto;
    padding-top: 20px;
    position: relative;
}

#listContainer {
    background-color:rgba(136,136,136,0.3);
    padding: 20px;
}
#list li {
    list-style: none;
    padding: 5px 0px 5px 10px;
    font-size: 14px;
}

#list li:nth-child(even) {
    background-color:rgba(150,150,150,0.2);
}
#list li:nth-child(odd) {
    background-color:rgba(150,150,150,0.4);
}

#list li p {
    margin-left: 10px;
}

.filter {
    width: 250px;
    margin: 0 auto;
    vertical-align: bottom;
    display: block;
}
.filter li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

#list p {
    display: inline-block;
}

.done {
    text-decoration: line-through;
    color: dimgrey;
}

.hiden {
    display: none;
}

.bold {
    background-color:rgba(136,136,136,0.3);
}

#taskInput {
    border: 1px solid #808080;
    }

#clearDone {
    display: none;
    font-weight: bold;
    color: red;
    width: 110px;
    padding: 5px;
    border-radius: 5px;
}

#clearDone:hover {
    cursor: pointer;
    background-color: red;
    color: white;

}
