* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

body {
    background: url(../images/paperBack.png);
}

.page {

}

#taskSection {
    margin: 0 auto;
    padding-bottom: 20px;

}
#taskInput {
    width: 98%;
    height: 35px;
    margin: 0 6px;
    background: none;
    font-size: 20px;
    text-align: center;
}

#container {
    /*background: url(../images/paperBack.png);*/
    width: 600px;
    margin: 0px auto;
    padding-top: 20px;
    position: relative;
}

#listContainer {
    background-color:rgba(136,136,136,0.3);
    padding: 10px 6px;
}
#list li {
    list-style: none;
    padding: 5px 0px 5px 10px;
    font-size: 14px;
}

#list li:nth-child(even) {
    background-color:rgba(150,150,150,0.2);
}
#list li:nth-child(odd) {
    background-color:rgba(150,150,150,0.4);
}

#list li p {
    margin-left: 10px;
    width: 95%;
}

.filter {
    width: 100%;
    margin: 0 6px;
    vertical-align: bottom;
    display: block;
}
.filter li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    width: 32%;
}

#list p {
    display: inline-block;
}

.done {
    text-decoration: line-through;
    color: dimgrey;
}

.hiden {
    display: none;
}

.bold {
    background-color:rgba(136,136,136,0.3);
}

#taskInput {
    border: 1px solid #808080;
    }

#clearDone {
    display: none;
    font-weight: bold;
    color: red;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
}

#clearDone:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

@media all and (orientation: portrait), all and (min-width: 1081px) {
    #container {
        width: 100%;
        margin: 0px;
        padding-top: 20px;
    }

    #listContainer {
        background-color: rgba(136, 136, 136, 0.3);
        padding: 0px;
        width: 100%;
        margin: 0px 6px;
    }

    #taskInput {
        width: 100%;
        height: 50px;
        margin: 0px auto;
        background: none;
        font-size: 24px;
        text-align: center;
    }
    .filter li {
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        text-align: center;
        width: 33%;
        font-size: 24px;
    }
    #list li {
        list-style: none;
        padding: 5px 0px 5px 10px;
        font-size: 22px;
        height: 50px;
    }
}
